* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100%;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

.firstPage {
    height: 810.12px;
    display: flex;
    background-image: url(../img/81678356_2450098255202373_3305443948108972032_n.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    height: 50px;
    /* background-color: aqua; */
    width: 100%;
    user-select: none;
    background-color: black;
    padding: 5px;
}

.imgMenu {
    min-width: 100px;
}

.imgMenu img {
    width: 100%;
    cursor: pointer;
    height: 40px;
    object-fit: contain;
}

.buttonsMenu {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    gap: 50px;
    color: #fff;
}

.buttonsMenu span:hover {
    color:#98916F;
    transition: 0.3s;
}

.mobileMenu {
    cursor: pointer;
    display: none;
}

.mobileMenu div {
    margin: 2px;
    width: 32px;
    height: 2px;
    background-color: #fff;
}

@media (max-width: 1172px) {

    .body{
        overflow-x: hidden;
    }

    .buttonsMenu{
        position:absolute;
        top: 5vh;
        background-color: black;
        width: 100vw;
        height: 94vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        text-shadow: none;
        color: #fff;
    }

    .buttonsMenu.active {
        transform: translateX(0);
    }

    .menu {
        justify-content: flex-start;
        padding: 0px;
    }

    .firstPage {
        padding: 0px;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        margin-left: 10px;
    }

    .mobileMenu div {
        color: black;
    }

    ::-webkit-scrollbar-track {
        background-color: red;
    }
}

.title {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-size: 100px;
    color: #98916F;
    text-align: center;
    text-shadow:
    0 0 5px #2A2607,
    0 0 10px #2A2607,
    0 0 20px #2A2607,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff;
    /* 0 0 100px #fff,
    0 0 150px #fff; */
    user-select: none;

}

.secondPage {
    height: 810.12px;
    background-color: black ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.secondPageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
}

.secondPageTitle span:nth-child(1) {
    font-size: 100px;
    color: #98916F;
    font-style: italic;
}

.secondPageTitle span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
}

.albumCard {
    display: flex;
    flex-direction: row;
    gap: 50px;
    user-select: none;
}

.home {
    width: 450px;
    height: 450px;
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home:hover {
    backdrop-filter: blur(50%);
}

.home div {
    font-size: 80px;
    font-weight: bold;
}
